// UI
.page-container {
  width: 100%;
  padding: 0 $side_padding;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
}

.grid {
  display: grid;
}

.desktop {
  display: none;
  @media (min-width: $md_br) {
    display: block;
  }
}
.mobile {
  display: block;
  @media (min-width: $md_br) {
    display: none;
  }
}

.error-msg {
  color: #fa3741;
}

.text-center {
  text-align: center;
}
