.job-posts-container {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  .top-section {
    margin: 0 0 20px;
  }
  .user-info {
    max-width: 335px;
    width: 100%;
    padding: 0 0 20px;
    border-bottom: 1px solid $black;
    margin: 0 0 20px;
  }
}
