.success-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // remove the header height
  height: calc(100vh - 55px);
  @media (min-width: $md_br) {
    max-width: 520px;
  }
  .success-icon {
    margin: 0 0 20px;
  }
  .job-title {
    margin: 0 0 20px;
  }
}
