.job-post-container {
  width: 100%;
  grid-template-columns: minmax(50px, 85px) repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  padding: 16px;
  background-color: $light_gray;
  font-size: 1.2rem;
  margin: 0 0 12px;
  @media (min-width: $md_br) {
    grid-template-columns: minmax(80px, 110px) auto 140px;
    grid-template-rows: repeat(2, auto);
  }
  .image {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    @media (min-width: $md_br) {
      grid-area: 1 / 1 / 3 / 2;
    }
  }
  .header {
    grid-area: 1 / 2 / 2 / 4;
    @media (min-width: $md_br) {
      grid-area: 1 / 2 / 2 / 3;
    }
    .company-name {
      color: $gray;
    }
    .job-title {
      font-size: 1.8rem;
    }
  }
  .info {
    grid-area: 2 / 1 / 3 / 4;
    gap: 15px;
    @media (min-width: $md_br) {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
  .submit-container {
    grid-area: 3 / 1 / 4 / 4;
    align-self: center;
    @media (min-width: $md_br) {
      grid-area: 1 / 3 / 3 / 4;
    }
  }
}
