button {
  cursor: pointer;
  width: 100%;
  padding: 12px 20px;
  background-color: $primary_color;
  border: 1px solid $primary_color;
  color: $white;
  font-size: clamp(1.4rem, 0.9375vw, 1.8rem);
}
